/* tablette : 768
smartphone : 375 */
/*responsive*/

* {
    font-family: montserrat;
}

h2 {
    margin-top: 30px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

nav {

    height: 150px;
    width: 100%;
    background-image: url("../images_documents/banniere.jpg");
    background-position: right;
    display: flex;
    justify-content: space-between;
}



nav ul {
    padding-top: 10px;
    padding-left: 20px;
    height: 45px;
    display: flex;
    flex-direction: column;

}

nav ul a {
    color: black;
    margin-left: 10px;
    margin-right: 30px;
}

@media screen and (min-width : 635px) {
    nav ul {
        width: 80%;
        padding-top: 10px;
        padding-left: 50px;
        height: 45px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul a {
        color: red;
        margin-left: 30px;
        margin-right: 20px;
    }
}

.actualites {
    margin-left: 30px;
}

.demarche {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.cv a {
    color: red;
    padding-left: 20px;
}

.cv:hover {
    border: solid 2px red;
    border-radius: 30px;
}


.contact {
    margin-top: 100px;
    margin-left: 50px;
}

img {
    max-width: 100%;
    margin: auto;
    justify-content: center;
}

.portrait {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.portrait img {
    padding-top: 20px;
    padding-right: 20px;
}

.madame_filosa_menu_1 ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}

.madame_filosa_menu_1:hover ul {
    display: block;
    width: auto;
}

.madame_filosa_menu_1 ul a {
    margin: 0;
    padding-top: 10px;
    color: black;
}

.coiffeuse_presentation article {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (min-width : 635px) {
    .coiffeuse_presentation {
        display: flex;
    }

    .coiffeuse_presentation article {
        flex-wrap: wrap;
        margin-left: 50px;
        margin-top: 50px;
        margin-right: 50px;
    }
}

iframe {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 560px;
}

.filosa_portrait {
    margin: 20px;
}

figcaption {
    font-size: x-small;
}
